body, html{
    height: 100%;
    margin: 0;
}

.container{
    width: 1920px;
    margin: 0 auto;
    display: flex;
    height: 915px;
}

.left{
    width: 55%;
    padding: 30px 60px 30px 150px;
}

.upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

h2{
    margin-top: 0;
    margin-left: 10px;
    color: #a4b9e7;
    font-size: 35px;
}

.logo{
    margin-right: 5px; /* 이미지 좌우 조절 */
    margin-bottom: 25px; /* 이미지 상하 조절 */
    width: auto;
    height: 60px;
    vertical-align: top;
}

.small-colon{
    width: 25px !important;
    height: auto !important;
    vertical-align: top;
}

.time{
    margin-top: 0;
    background-color: rgb(232, 249, 255);
    border: 2px solid rgb(231, 231, 231);
    border-radius: 15px;
    padding: 0px 50px;
    line-height: 0;
    display: inline-block;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.search-box{
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-box select, input, button{
    border: none;
    outline: none;
    padding: 10px 20px 10px 10px;
    height: 40px;

    box-sizing: border-box;
}

.search-box select{
    border-radius: 10px 0 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: gray;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px; /* 화살표와 텍스트 간의 간격 확보 */
    position: relative;
    box-sizing: border-box;

    background: url('select.png') no-repeat right 6px;
}

.search-box input{
    font-size: 20px;
}

.search-box button{
    border-radius: 0 10px 10px 0;
    background-color: white;
    cursor: pointer;
    padding: 0;
}

.search-box button img{
    width: 45px;
    height: auto;
    vertical-align: middle;
}

.list{
    margin: 10px 0 0 0;
    padding: 5px 15px 5px 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
    align-items: center;
    height: 650px;
}

.contents{
    margin: 10px 40px 0 0;
    padding: 5px 15px 5px 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
    align-items: center;
    height: 150px;
}

.right{
    width: 45%;
    background-color: blue;
    padding: 20px;
}

h5{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 500px;
}